$blue: #007bff;
$black: #343a40;

$element-border-radius: 8px;
$element-border: solid 2px $black;

@mixin unselectable {
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    cursor: default;
}

:root{
    color: $black;

    ::-moz-selection { background: $blue; color: white;}
    ::selection { background: $blue; color: white;}
    font-family: 'Montserrat', sans-serif;
}

body, html{
    margin: 0;
    width: 100%;
    height: 100%;
    
}


body{

    display: flex;
    flex-direction: row;
    overflow-x: auto; 

    #quote-container{
        position: relative;
        flex-grow: 1;

        overflow: auto;

        #quote{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto auto;
            
            background-size: cover;
            background-position: center;
            overflow: hidden;
            
            z-index: -2;
            
            
            //transition: all 0.16s;

            #quote-background{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            #quote-overlay{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                background-color: rgba(0,0,0,0.4);
            }

            #quote-text{
                margin: 16px;
                
                user-select: none;

                word-wrap: break-word;
                text-align: center;
                font-size: 48px;
                font-weight: 700;
                color: white;
                
            }
            #quote-author{
                user-select: none;
                word-wrap: break-word;
                text-align: center;
                font-size: 32px;
                font-weight: 400;
                color: white;
            }
        }
    }


    #menu{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 273px;
        height: 100%;

        overflow-y: scroll;

        box-sizing: border-box;
        padding: 16px 32px 16px 32px;

       // box-shadow: 4px 0 16px 4px #f0f0f0;

        h1{
            text-align: center;
            margin: 16px 0 32px 0;
            width: 100%;
            
            font-size: 32px;
            font-weight: 500;
            letter-spacing: 6px;
            
            transition: letter-spacing 0.16s;
            user-select: none;
        }
        h1:hover{
            letter-spacing: 10px;
            color: $blue;
        }

        #quote-input{
            min-height: 128px;
            max-height: 256px;

            box-sizing: border-box;
            padding: 6px;

            border: solid 2px $black;
            border-radius: $element-border-radius;

            overflow-y: auto;

            font-size: 16px;

            transition: all 0.16s;
        }
        #quote-input:focus, #quote-input:hover{
            border-radius: 16px;
            border-color: $blue;
            outline: none;
        }

        #size{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            input{
                display: inline-flex;
                flex-shrink: 1;
                width: 48%;
            }
            input:after{
                content: "px";
            }
        }

        #font-settings{
            position: relative;
            height: 32px;
            
            .wrapper-dropdown{
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                line-height: 30px;
            }
            .dropdown{
                position: absolute;
                top: 0;
                background-color: white;
                z-index: 3;
                width: 192px;
                border: $element-border;
                border-color: $blue;
                border-radius: $element-border-radius;
                list-style: none;
                padding: 0;
                margin: 0;
                box-sizing: border-box;


                li{
                    
                    width: 100%;
                    box-sizing: border-box;
                    padding: 5px 0;
                    transition: all 0.16s;
                    a{
                        display:inline-block;
                        width:100%;
                        height:100%;
                        margin-left: 8px;

                        color: $black;
                        font-size: 16px;

                        transition: all 0.16s;
                        @include unselectable();
                    }
                }
                li:hover{
                    background-color: $blue;
                    
                    border-color: transparent !important;
                    a{
                        color: white;
                    }
                }
                
            }
            
           
        }

        #overlay-settings{
            input{
                width: 100%;
                margin: 0;
                border: none;
            }
            input::-webkit-slider-thumb{
               /* -webkit-appearance: none;

                background-color: $black;*/
            }
        }

        #image-select{
            p{
                margin-top: 4px;
                font-size: 10px;
                text-align: center;
            }
        }
        @keyframes play {
            0%   {stroke-dashoffset: 0;}
            100%  {stroke-dashoffset: 64;}
        }
        #image-importer{
            position: relative;
            display: flex;
            height: 84px;
            align-items: center;
            
            input{
                position: absolute;
                border: none;
                outline : none;
                font-size: 0px;
                width: 100%;
                height: 100%;
                display: none;
            }
            // Hide upload button
            input::-webkit-file-upload-button {
                visibility: hidden;
            }

            svg{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                
                @include unselectable();
                
                rect{
                    animation: play 2.4s linear infinite;
                }
            }
            p{
                text-align: center;
                @include unselectable();
            }
            
        }
     
        #image-importer:not(:hover){
            svg{
                rect{
                    animation-play-state: paused;
                }
            }
        }
       
    }
    #menu > *{
        margin-bottom: 16px;
        flex-shrink: 0;
    }
}

p{
    margin: 0;
}
a{
    color: $blue;
    text-decoration: none;
    font-weight: 700;
}

input, .input{
    
    height: 32px;
    text-align: center;
    outline:none;
    border: $element-border;
    border-radius: $element-border-radius;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.16s;
}
input:hover, input:focus, .input:hover, input:focus{
    border-radius: 16px;
    border-color: $blue;
}

button{
    width: 100%;
    height: 32px;

    border-radius: $element-border-radius;
    border: $element-border;
    border-color: $blue;
    color: $black;
    background-color: Transparent;

    outline:none;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    transition: all 0.16s;
}
button:hover{
    background-color: $blue;
    color: white;
    border-radius: 16px;
    letter-spacing: 1px;
}
